/* start Global >>> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --main-color: #0040ff;
}

/* media QURE >>>  */

@media (max-width:1024px){
header{
padding: 10px 20px;
} 
.navg a{
padding-left: 10px;
}

}


header {
    background-color: gray;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    z-index:22 ;
}

.logo a {
    color: #0040ff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
}

.navg a {
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 1.1em;
    color: #0040ff;
    padding-left: 30px;
}

.navg a:hover {
    color: #ad0ead;
    text-decoration: underline;
}

section{
    padding: 100px 100px;
}

.main-sec{
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(freepik-export-202406190523378Ujj.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main-sec h2 {
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}

.main-sec span {
    color: var(--main-color);
    font-size: 3em;
    font-weight: 600;
}

.main-sec h3 {
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
}

.main-sec .btn-project {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s;
}

.btn-project:hover {
    background-color: #0000ff;
    transform: scale(1.2);
}

.icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.icons a:hover {
    color: #0080ff;
}

.ser {
    display: flex;
    justify-content: center;
    color: var(--main-color);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap:wrap;
}

.card {
    margin: 20px; /* لضمان وجود تباعد بين البطاقات */
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1  / 15%);
    text-align: center;
    width: 21.25em;
    transition: 0.7s;
}

.card .icon {
    font-size: 2em;
    color: var(--main-color);
    margin-bottom: 10px;
}

.card .info {
    font-size: 1.2em;
    color: #333;
}

.card .icon{
color: var(--main-color);
font-size: 8em;
text-align: center;
}

.info{
text-align: center;
}

.card:hover{
transform: scale(1.1);
}

.info h3{
color: var(--main-color);
font-size: 1.2em;
font-weight: 700;
margin: 20px;
}

.projects{
background-color: black;
}
.projects .content{
margin-top: 30px;
}

.project-card{
background-color: #fff;
border: 1px solid white;
min-height: 14em;
width: 23em;
overflow: hidden;
border-radius: 10px;
margin: 20px;
transition:0.7s ease;
}


.project-card:hover{
transform: scale(1.1);
}

.project-image img{
width: 100%;
}
.project-card:hover .project-image{
opacity: 0.9;
}

.project-info{
padding: 1em;

}

.project-des{
font-size: 0.8em;
color: #000;
}

.title-project{
display: flex;
justify-content: space-between;
text-transform: uppercase;
font-weight: 800;
margin-top: 10px;
}

strong a{
text-decoration: none;
color: var(--main-color);

}

strong a:hover{
color: #ad0ead;
}

.contact .icon{
font-size: 4.5em;
}

.contact  .info h3{
color: #000;

}

.contact  .info p{
font-size: 1.2em;
}

.footer{
background-color: gray;
color: #fff;
padding: 2em;
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-titlle{
font-size: 1.3em;
font-weight: 600;
}
.footer-titlle span{
color: var(--main-color);
}

/* .footer .icons a{
padding: 0 12px 0 0 ;
font-size: 1.3em;
} */
